 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


 * {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Inter", sans-serif;
 }

 .container {
    width : 85%;
    margin: 0 auto;
 }

 .divider {
    padding         : 50px;
    background-color: #000000;
 }

 .logo h2 {
    color: #E6533C;
 }

 .navbar {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 20px 0px;
 }

 .nav_items {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
 }

 .nav_items p {
    margin-right: 30px;
 }

 .nav_items p a {
    text-decoration: none;
 }

 .hamburger {
    display: none;
 }

 .hamburger i {
    color: white;
 }

 header {
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);*/

    background-color: rgba(0, 0, 0, 0.917);
 }

 .nav_items {
    border       : 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding      : 7px 8px;
 }



 .nav_items p a {
    color    : white;
    font-size: 14px;


 }

 .active {
    background-color: #E6533C;
    padding         : 7px 15px;
    border-radius   : 46px;
 }

 .hero {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    height    : 91vh;
 }


 .hero_text h1 {
    color        : white;
    font-size    : 3.7rem;
    font-weight  : 900;
    margin-bottom: 16px;
 }

 .hero_text p {
    color        : #ffffff80;
    margin-bottom: 16px;
 }

 .extra_font {
    font-family: "Dancing Script", cursive;
    font-style : italic;
 }

 .hero_btn {
    display        : flex;
    justify-content: around;
    align-items    : center;
    gap            : 20px;
 }

 .hero_btn button {
    padding      : 12px 25px;
    font-size    : 14px;
    color        : white;
    border-radius: 50px;
    cursor       : pointer;
 }

 .hero_btn button:first-child {
    background-color: #E6533C;
    border          : none;

 }

 .hero_btn button:last-child {

    border          : 1px solid rgb(255, 255, 255);
    background-color: Transparent;


 }

 .hero_section {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

 }

 .hero_img {
    position: relative;
 }

 .hero_img img {
    width : 100%;
    height: auto;
 }

 .tol_tip_1 {
    width        : 193px;
    height       : 98px;
    box-sizing   : border-box;
    border       : 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background     : rgba(255, 255, 255, 0.1);
    padding        : 10px 15px;
    position       : absolute;
    right          : -26%;
    top            : 20%;
 }

 .tol_tip_1 h2 {
    color      : white;
    font-size  : 40px;
    font-weight: 900;
 }

 .tol_tip_1,
 .tol_right p {
    color: rgba(255, 255, 255, 0.65);

 }

 .tol_tip_2 {
    width        : 193px;
    height       : 98px;
    box-sizing   : border-box;
    border       : 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background     : rgba(48, 48, 48, 0.54);
    display        : flex;
    justify-content: space-around;
    align-items    : center;

    position: absolute;
    bottom  : 10%;
    left    : -25%;
 }

 .tol_left i {
    color: #E6533C;
 }

 .tol_right h2 {
    color      : white;
    font-size  : 40px;
    font-weight: 900;
 }



 .habit {
    background-color: #000000;
    text-align      : center;
    color           : white;
 }

 .habit_text h1 {
    color         : #ffffff;
    font-size     : 3rem;
    padding-bottom: 0.625rem;
 }

 .habit_text p {
    color         : #ffffff80;
    padding-bottom: 6.125rem;
 }

 .habit_img img {
    border-radius: 50%;
 }

 .habit_img {
    padding-bottom: 0.625rem;
 }

 .habit_grid_text h4 {
    font-size     : 1.125rem;
    padding-bottom: 0.625rem;
 }

 .habit_grid_text p {
    color    : #ffffff80;
    font-size: 14px;
 }

 .habit_grids {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
 }

 .extra {
    background-color: #000000;
 }

 .extra_mile {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
 }

 .extra_mile_img img {
    width : 100%;
    height: auto;
    border-radius: 18px;
 }

 .extra_mile_text h1 {
    font-size     : 3rem;
    font-weight   : 900;
    color         : #ffffff;
    padding-bottom: 1.85rem;
 }

 .extra_mile_text p {
    color      : #ffffff80;
    font-size  : 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 1.85rem;
 }

 .extra_mile{
   border-radius: 18px;
   background: rgb(34, 34, 34);
   padding: 30px;
 }

 .extra_mile_text button{
   padding      : 12px 60px;
   font-size    : 14px;
   color        : white;
   border-radius: 50px;
   cursor       : pointer;
   background-color:#E6533C;
   border: none;
 }

 .divider2{
   padding: 30px;
   margin: -2px 0px;
   background-color: #000000;
 }

 .bmi{
   width: 671px;
   margin: 0 auto;
   background-color: #000000;
   padding: 40px 0px;
 }

 .bmi h1{
   color: #ffffff;
   font-size: 3rem;
font-weight: 900;
padding-bottom: 1rem;
 }

 .bmi p{
   color: #ffffff80;
 }

 .bmi_calculator{
   padding: 50px 0px;
   display: flex;
   justify-content: space-between;
 }
  
.bmi_table{
   width: 45%;
}
.bmi_table h2{
   padding-bottom: 2rem;
   color: #ffffff;
   font-size: 1.75rem;
   font-weight: 900;
}

 .bmi_table table, th, td {
   border: 1px solid #ffffff1a;
   border-collapse: collapse;
   padding:8px 10px;
   color: #ffffff80;
 }

  .bmi_input h2{
   padding-bottom: 1rem;
   color: #ffffff;
   font-size: 1.75rem;
   font-weight: 900;
  }
  .bmi_input p{
   color: #ffffff80;
   padding-bottom: 2rem;
  }

  .bmi_input{
     width: 60%;
  }

  .bmi_input input[type="text"] ,select{
     width: 40%;
     margin: 0px 8px 8px 0px;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     border: none;
     padding: 11px 16px;
     color:#ffffff80;
  }

  .bmi_input input[type="text"]:focus{
   outline: none;
  }


  .bmi_input button{
   padding      : 12px 60px;
   font-size    : 14px;
   color        : white;
   border-radius: 50px;
   cursor       : pointer;
   background-color:#E6533C;
   border: none;
   margin-top: 10px;
  }

  #select_width{
   width: 82%;
  }

  .team_heading{
      color: white;
      padding:3rem 0px;
      text-align: center;
  }
  
  .team_heading h1{
      font-size: 3rem;
      padding-bottom: 1rem;
  }
  .team_heading p{
   color: #ffffff80;
  }

  .team_text{
   color: white;
  }

  .team_text h4{
      font-size: 1rem;
      font-weight: 900;
  }

  .team_text p{
      font-size: 0.875rem;
      color: #ffffff80;
  }

  .team_grids{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 1.25rem;
     border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
padding: 1.25rem;
  }

  .team_grid{
     position: relative;
  }
  
  .team_img img{
   width: 100%;
   height: auto;
   border-radius: 18px;
  }

  .team_text{
     position: absolute;
     bottom: 5%;
     z-index: 1;
     left: 5%;
  }

  footer{
      padding: 3rem 0;
      background-color: #1a1a1a;
  }

  .footer_left h1{
     color: #E6533C;
     font-size: 3rem;
     font-style: italic;
     font-weight: 900;
     padding-bottom: 2rem;
  }

  .footer_left p{
   color: #ffffff80;
   padding-bottom: 1rem;
  }

  .footer_middle h2 ,.footer_right h2{
     padding-bottom: 1rem;
     color: #ffffff;
  }


  .footer_middle p,.footer_right p{
     color: #ffffff80;
     padding-bottom: 0.8rem;
  }

  .footer_content{
     display: grid;
     grid-template-columns: 2fr 1fr 1fr;
     padding-bottom: 2rem;
  }

  .footer_end{
   text-align: center;
      padding-top: 1rem;
      color: #ffffff80;
  }

  .working_hours{
   color: white;
   text-align: center;
   padding: 4rem 0;
  }

  .working_hours h1{
   font-size: 3rem;
   padding-bottom: 1rem;
   font-weight: 900;
  }

  .working_hours p{
   color: #ffffff80;
   padding-bottom: 2rem;
  }

  .pricing_card{
      color: white;
  }

  .pricing_card h3{
      font-size: 1.5rem;
      font-weight: 900;
      padding-bottom: 1rem;
  }

  .pricing_card > p{
      color: #ffffff80;
      padding-bottom: 0.8rem;
  }
  .pricing_card h1{
     font-size: 3rem;
     font-weight: 900;
     color: #E6533C;
     padding-bottom: 1rem;
  }
  
  .gym_des p i{
     color: #E6533C;
  }

  .gym_des p{
     color: #ffffff80;
  }

  .gym_des {
     padding-bottom: 2rem;
  }
   
  .pricing_card button{
     padding      : 12px 60px;
   font-size    : 14px;
   color        : white;
   border-radius: 50px;
   cursor       : pointer;
   background-color:#E6533C;
   border: none;
   margin-top: 10px;
  }
  .pricing_card{
   background: rgba(255, 255, 255, 0.1);
   padding: 1.5rem;
   border-radius: 18px;
  
  }

  .pricing_table{
     display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 1rem;
  }

  .divider3{
    padding: 1rem;
    background-color: #000;
    margin: -2px 0px;
  }

 /* media query ___  */


 @media only screen and (max-width: 576px) {
   .bmi_calculator{
      flex-direction: column;
   }
   
   .pricing_table{
       grid-template-columns: repeat(1,1fr);
   }
    
   .pricing_card:not(:last-child){
      margin-bottom: 0.7rem;
   }
   .footer_content{
       grid-template-columns: 1fr;
   }

   .team_grids{
      grid-template-columns: repeat(1,1fr);
   }

   .bmi_input{
      width: 100%;
   }

   #select_width{
      width: 98%;
     }

   .bmi_input input[type="text"] ,select{
      width: 47%;
   }

   .bmi_table{
      width: 80%;
      margin-bottom: 15px;
   }

   .bmi{
      width: 85%;
      margin: 0 auto;
   }
   
   .hamburger {
       display: block;
    }

    .divider {
       padding: 30px;
       margin : -2px 0px;
    }

    .nav_items {
       display: none;
    }

    .hero_section {
       flex-direction: column;
    }

    .hero {
       height: 100vh;
    }

    .hero_img {
       width: 92%;
    }

    .tol_tip_1 {
       width : 146px;
       height: 76px;
       right : -5%;
    }

    .tol_tip_1 h2 {
       font-size: 30px;
    }

    .tol_tip_1 p {
       font-size: 10.5px;
    }

    .tol_tip_2 {
       width : 146px;
       height: 76px;
    }

    .tol_right h2 {
       font-size: 30px;
    }

    .tol_right p {
       font-size: 10.5px;
    }

    .tol_tip_2 {
       left: -5%;
    }

    .habit_grids {
       grid-template-columns: repeat(1, auto);
    }


    .habit_grid_text p {
       padding-bottom: 0.625rem;
    }
    

    .extra_mile{
      flex-direction: column;
    }
    
    .extra_mile_text{
      padding-bottom: 3rem;
    }


 }